.register-form{
    width: 50%;
    margin: 0 auto;
    padding: 20px 0px;

}
.register-form input:not([type=checkbox]){
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px ;
}